<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="DatabaseProvider" value="mysqlConnectionString"/>
      <add key="SROCalendarProvider" value="SROCalendarConnectionString"/>
      <add key="SROUpdateProvider" value="SROUpdateConnectionString"/>
      <add key="UseSQLCommandLines" value ="true"/>
      <add key="ForceANewConnection" value="true"/>
      <add key="WriteLogEntries" value="true"/>
    </appSettings>

    <connectionStrings>
      <add name="mysqlConnectionString" connectionString="server=160.153.55.99;user id=sroacal;Password=57455Abbot;persist security info=True;database=sroacal" providerName="MySql.Data.MySqlClient"/>
      <add name="SROCalendarConnectionString" connectionString="Data Source=SROCalendar.db.11751201.hostedresource.com;Initial Catalog=SROCalendar;User ID=SROCalendar;Password=Wp#p18mm" providerName="System.Data.SqlClient"/>
      <add name="SROUpdateConnectionString" connectionString="Data Source=SROUpdate.db.11751201.hostedresource.com; Initial Catalog=SROUpdate; User ID=SROUpdate;Password=Wp#p18mm" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>